/* class="card">
<p class="img-card"><img src="" alt=""></p>
<p class="descricao-card"></p>
<p class="valor-card"></p>
<p class="parcelas-cad"></p>
<p class="frete-cad"></p> */

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #E3E6E6;
}


.container-cabecalho {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 15px;
    height: 15vh ;
    background-color: #131921;
    color: white;
}

#pesquisa-produto{
    width: 40vw;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}

nav, h1{
    padding: 50px;
}

nav {
    display: flex; 
    list-style: none; 
    flex-wrap: wrap;
    gap: 20px; /* Espaçamento entre os links */
    font-size: 1.6m;
}

nav a {
    text-decoration: none; 
    color: white; 
    font-weight: bold;
}

main {
    max-width: 60vw;
    min-height: 80vh;
    margin: 30px auto;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 25px;
}

.card {
    border: 0.5px solid rgba(0, 0, 0, 0.196);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.169);
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 380px;
    border-radius: 10px;
    background-color: white;
}

.card:hover {
    transform: scale(1.02);
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.img-card {
    text-align: center;
    margin: 30px;
}

.img-card > img{
    width: 100%;
    height: auto;
}

.descricao-card {
    padding: 10px 20px;
    font-size: 1.2em;
}

.valor-card {
    padding: 10px 20px;
    font-size: 1.8em;
    font-weight: 400;
}

.frete-card{
    padding: 10px 20px;
    font-size: 1.4em;
    color: #00A650;
    font-weight: 700;
}

footer {
    position: relative;
    bottom: 0;        /* Coloca o footer na parte inferior da tela */
    left: 0;          /* Garante que o footer esteja alinhado à esquerda */
    width: 100%;      /* Faz o footer ocupar toda a largura da tela */
    text-align: center;
    padding: 15px;
    background-color: #333;
    color: white;
}
  